/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL VARIABLES */

::root {
    --font: 'Times New Roman', Times, serif; 
}

/* BACKGROUND STYLE */

body {
    background-color: #282727;
}

/* TEXT STYLE */

h1 {
    font-family: var(--font);
    font-weight: 600;
    font-size: 4rem;
    color: lightgray;
}

/* BUTTONS */

button {
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 50px;
    object-fit: contain;
    height: auto;
    font-size: 3rem;
    padding: 1rem;
}

button:hover {
    background-color: black;
    color: lightgray;
} 

/* TIMER */

#timer {
    font-size: 5rem;
    color: lightgray;
}

/* LAYOUT */

main, header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

header {
    margin-top: 5rem;
}

#timer-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}